### use # to comment out the configure item
### I/O ###

train_dir=/tmp/negra_sl/pos-pointer/train.tsv
dev_dir=/tmp/negra_sl/pos-pointer/dev.tsv
test_dir=/tmp/negra_sl/pos-pointer/dev.tsv

model_dir=/tmp/ncrfpp.bilstm.negra.pos-pointer
word_emb_dir=resources/sskip.de

norm_word_emb=False
norm_char_emb=False
number_normalized=False
seg=False
word_emb_dim=100
char_emb_dim=30

###NetworkConfiguration###
use_crf=False
use_char=True
word_seq_feature=LSTM
char_seq_feature=LSTM

###TrainingSetting###
status=train
optimizer=SGD
iteration=100
batch_size=8
ave_batch_loss=True

###Hyperparameters###
cnn_layer=4
char_hidden_dim=50
hidden_dim=800
dropout=0.5
lstm_layer=2
bilstm=True
learning_rate=0.02
lr_decay=0.05
momentum=0.9
l2=0
index_of_main_tasks=0,1,2,3
tasks=4
tasks_weights=1|1|1|1
optimize_with_evalb=True


###Stuff for constituent parsing as sequence labeling###

gold_dev_trees=data/negra/dev.discbracket
evalb_param_file=proper.prm 
disco_decode_script=decode.py
dummy_os=True
label_split_char={}

###Additional parameters for discontinuous parsing as sequence labeling###
disco_encoder=pos-pointer
log_file=/tmp/ncrfpp.bilstm.negra.pos-pointer.log


