### use # to comment out the configure item
### I/O ###

train_dir=data/negra_sl/pos-pointer/train.tsv
dev_dir=data/negra_sl/pos-pointer/dev.tsv
test_dir=data/negra_sl/pos-pointer/dev.tsv

model_dir=/tmp/ncrfpp.transformer.negra.pos-pointer
word_emb_dir=resources/sskip.de

norm_word_emb=False
norm_char_emb=False
number_normalized=False
seg=False
word_emb_dim=100
char_emb_dim=30

###NetworkConfiguration###
use_crf=False
use_char=True
word_seq_feature=Transformer
char_seq_feature=LSTM


###TrainingSetting###
status=train
optimizer=SGD
iteration=400
batch_size=8
ave_batch_loss=True

###Hyperparameters###
cnn_layer=4
#char_hidden_dim=50
char_hidden_dim=132
hidden_dim=800
dropout=0.0
lstm_layer=2
bilstm=True
learning_rate=0.003
#lr_decay=0.05
lr_decay=0.0
momentum=0.0
l2=0
gpu=False
#clip=
#clip=
index_of_main_tasks=0,1,2,3
tasks=4
tasks_weights=1|1|1|1
optimize_with_evalb=True

###BertEncoder hyperparameters###
transformer_num_attention_heads=8
transformer_num_hidden_layers=6
transformer_intermediate_size=800
transformer_hidden_dropout_prob=0.4

###Stuff for constituent parsing as sequence labeling###
gold_dev_trees=data/negra/dev.discbracket
evalb_param_file=proper.prm 
disco_decode_script=decode.py
dummy_os=True
label_split_char={}
###Stuff for discontinuous parsing as sequence labeling###

disco_encoder=pos-pointer
log_file=/tmp/ncrfpp.transformer.negra.pos-pointer.log


